<p><%= link_to "<<back to lists", lists_path %></p>
<div class="container">
  <h1>Add a List</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.submit "Add", class: 'btn btn-success mt-3' %>
  <% end %>
</div>
